@model IEnumerable<ProyectoInmobiliariaHugo.Models.Contrato>

@{
    ViewData["Title"] = "Listado";
}

    <h1>Contratos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                Dirección Inmueble
            </th>
            <th>
                Propietario
            </th>
            <th>
                Inquilino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @(item.Inmueble.Direccion)
            </td>
            <td>
                @(item.Inmueble.Propietario.Dni + " " + item.Inmueble.Propietario.Apellido+" "+item.Inmueble.Propietario.Nombre)
            </td>
            <td>
                @(item.Inquilino.Dni + " " + item.Inquilino.Apellido+" "+item.Inquilino.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdContrato }) |
                <a asp-action="ListaPagosPorContrato" asp-controller="Pago" asp-route-id="@item.IdContrato">Ver Pagos</a>|
                <a asp-action="create" asp-controller="Pago" asp-route-id="@item.IdContrato">Registrar Pago</a>
            </td>
        </tr>
}
    </tbody>
</table>
