@model ProyectoInmobiliariaHugo.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}
@{
    var ListaPropietario = ViewBag.propietarios as IEnumerable<ProyectoInmobiliariaHugo.Models.Propietario>;
}
<h1>Create</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger">@ViewBag.DireccionNulo</span>
            </div>
            <div class="form-group">
                <label asp-for="Uso" class="control-label"></label>
                <select asp-for="Uso">
                    <option value="residencial" selected>Residencial</option>
                    <option value="comercial">Comercial</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo">
                    <option value="casa" selected>Casa</option>
                    <option value="departamento">Departamento</option>
                    <option value="local">Local</option>
                    <option value="deposito">Depósito</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadHabitantes" class="control-label"></label>
                <input asp-for="CantidadHabitantes" class="form-control" />
                <span asp-validation-for="CantidadHabitantes" class="text-danger">@ViewBag.CantidadHabitantesNulo</span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger">@ViewBag.PrecioNulo</span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado">
                    <option value="disponible" selected>Disponible</option>
                    <option value="ocupada">Ocupada</option>
                </select>
            </div>
            <label class="control-label">Propietario</label>  &nbsp <a asp-controller="Propietario" asp-action="Create">Nuevo Propietario</a>
            @if (ViewBag.IdPropietario == 0)
            {
                <select asp-for="IdPropietario" class="form-control">
                    @foreach (Propietario item in ListaPropietario)
                    {
                        <option value=@item.IdPropietario>@item.Dni @item.Apellido @item.Nombre</option>
                    }
                </select>
            }
            else
            {
                <br />
                <label>@ViewBag.PropietarioDescripcion</label>
                <input type="hidden" value="@ViewBag.IdPropietario" asp-for="IdPropietario" class="form-control"/>
            }
            <span asp-validation-for="IdPropietario" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Listado">Volver al listado</a>
</div>

