@model IEnumerable<ProyectoInmobiliariaHugo.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHabitantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHabitantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @item.Propietario.Dni @item.Propietario.Apellido @item.Propietario.Nombre
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdInmueble  }) |
                <a asp-action="create" asp-controller="Contrato" asp-route-id="@item.IdInmueble">Crear Contrato</a> |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdInmueble  })
            </td>
        </tr>
}
    </tbody>
</table>
